.outer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding:0.5rem 0rem;
}

.inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.3rem 0;
  }