.Cockpit-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
  
.Cockpit-header {
    background-color:#2c3e50;
    height: 120px;
    padding: 20px;
    color: white;
}
  
.Cockpit-title {
    font-size: 2em;
    font-family: "open sans", sans-serif;
}

