.mainContainer {
    text-align: center;
    /* border: 2px solid #ccc ; */
    padding: 10px;
    margin:auto;
    width: 100%;
  
  }
  
  .list-group {
    text-align: center;
    padding: 0px;
    /* border: 1px solid #000 ; */
    margin: auto;
    display: block;
  }