.SearchBar {
    margin:auto;
    padding:20px;
    /* font-weight: bold; */
    display: inline;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

button {
    background-color: buttonface;
}