.SearchBar {
    padding-top:10px;
    display: flex;
    text-align: center;
    /* width: 50%; */
}

/* .row {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.SearchBar form.form-inline,
.SearchBar form.form-inline div.form-group,
.SearchBar form.form-inline div.form-group div.input-group {
    width: 100% !important;
}

button {
    background-color: buttonface;
}