.AddContact {
    display:grid;
    grid-template-columns: 31% 31% 31% 7%;
    /* display: flex;
    flex-flow: row wrap; */
    text-align: center;
    padding: 0.8rem;
}

.AddContact:after {
    content: "";
    display: table;
    clear: both;
}

.inputField {
    float: left;
}

.AddContactButton{
    float:right;
    text-align: center;
}

.FormContainer {
    background-color: #ecf0f1;
    border:1px solid #95a5a6;
    padding: 1rem;
    margin:1rem auto;
    width:70%;
    font-weight: bold;
}

@media (min-width:500px) and (min-height:400px) {
    .FormContainer {
        width: 350px;
        
    }
}

@media (min-width:700px) and (min-height:401px) {
    .FormContainer {
        width: 450px;
        
    }
}

@media (min-width:1000px) and (min-height:700px) {
    .FormContainer {
        width: 800px;

    }
}

@media (min-width:1300px) and (min-height:700px) {
    .FormContainer {
        width: 1000px;

    }
}