.App {
  /* text-align: center; */
  /* font-family: "open sans", sans-serif; */
  font-size: 16px;
  padding-right: 0; /*15px in bootstrap.css*/
  padding-left: 0;  /*idem*/
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}

.sortContainer {
  display:inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
  width: 100%;
}

.sortContainer .form-inline .form-group select {
  margin-left: 10px;
}

.mainContainer {
  /* text-align: center; */
  /* border: 2px solid #ccc ; */
  /* padding: 10px; */
  margin:10px auto;
  width: 100%;

}

