.App {
  text-align: center;
  /* font-family: "open sans", sans-serif; */
  font-size: 16px;
  padding-right: 0; /*15px in bootstrap.css*/
  padding-left: 0;  /*idem*/
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}

.sortContainer {
  display:inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
}

.mainContainer {
  text-align: center;
  /* border: 2px solid #ccc ; */
  /* padding: 10px; */
  margin:auto;
  width: 100%;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
